bayesnf==0.1.3
diffusers==0.31.0
einops==0.8.1
gluonts==0.14.4
jax==0.4.30
lightning==2.4.0
matplotlib==3.10.5
numpy==2.3.2
pandas==1.5.3
properscoring==0.1
pytorchts==0.7.0
rasterio==1.3.10
scikit_learn==1.7.1
scipy==1.16.1
Shapely==2.1.1
torch==2.5.1
tqdm==4.66.6
easydict==1.13
nni==3.0